<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/public/css/reset.css" type="text/css" />
        <link rel="stylesheet" href="/public/css/index.css" type="text/css" />
        <title>Document</title>
    </head>
    <body>
        <div class="navicat">
            <ul class="navicat_list">
                <li class="navicat_list_item">首页1</li>
                <li class="navicat_list_item">首页</li>
                <li class="navicat_list_item">首页</li>
                <li class="navicat_list_item">首页</li>
                <li class="navicat_list_item">首页</li>
            </ul>
        </div>

        <div class="home">
            <ul class="home_content">
                <li>
                    <title></title>
                </li>
            </ul>

            <!-- 注册 -->
            <div class="login_info_content">
                <div>注册</div>
                <div>
                    <label for="userName">用户名:</label>
                    <input id="userName" type="text" />
                </div>
                <div>
                    <label for="password">密码:</label>
                    <input id="password" type="text" />
                </div>
                <div>
                    <label for="rePassword">密码:</label>
                    <input id="rePassword" type="text" />
                </div>
            </div>
        </div>
    </body>
</html>
